body{
	background: url("images/vintage-concrete.png");
}
.white{
	background: white;
}
.sameColor{
	color: #cccccc;
}
#name{
	background: #4aaaa5;
	color: white;
}
#aboutMe, #port, #cont, #connectWith{
	color: #4aaaa5;
}
#footer{
	clear: both;
	overflow: auto;
	background: #4aaaa5;
	height: 5px;
	width: 100%;
}
#last{
	background: #666666;
	height: 50px;

}
#firstImage{
	height: 200px;
	width: 200px;
}
#nameDiv, #emailDiv, #messageDiv{
	border-style: solid;
	border-width: 1px;
}
#messageDiv{
	height: 60px;
}
#submit{
	color: white;
	background: #4aaaa5;
	border-style: solid;
	border-width: 1px;
	width: 60px;
	padding: 10px;
}
.placeHolder{
	width: 200px;
	height: 210px;
	float: left;
}
.same{
	height: 120px;
	width: 140px;
}
#firstFloat, #secondFloat, #thirdFloat{
	clear: both;
	overflow: auto;
}